body {
    background-color: #F1F1F1;
    font-family:  Verdana, san-serif;
}

#header-opcje {
    display: none;
}

#header {
    background-color: #0751AB;
    color: white;
    height: 180px;
}

#header .logo {

}


#header .title {

}